.font-inter {
  font-family: "Inter", sans-serif;
}

@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared styles starts */

/* .primary-color{
    color: linear-gradient(to right,#F7E93F, #FB09B4, #9100F8);
} */

.background-color {
  background-color: #1A0B2E;
}

/* shared styles ends */



/* navbar  section starts */

.navbar {
  max-width: 100%;
  background-color: #1A0B2E;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 12rem;
  border-bottom: 2px solid #ffffff1b;
}

/* .logo{
  font-size: 2rem;
  font-weight: bold;
} */

.nav-menu {
  display: flex;
  gap: 2rem;
}

.nav-menu a:hover {
  color: #ffffffbc;
}


.btn {
  background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  transition: transform 1s ease;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 10px rgba(251, 9, 180, 0.45);
}

.hamburger {
  display: none;
}

/* navbar section ends */


/* banner section starts */

.banner-container {
  max-width: 100%;
  height: 760px;
  background-image: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 1px solid red; */
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-image {
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  /* border: 1px solid red; */
}

.banner-image .microphone {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-badge {
  background-color: #00FF88;
  color: #1A0B2E;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  position: absolute;
  top: 3%;
  left: 70%;
  box-shadow: 0px 0px 10px #00FF88;
}

.banner-content h1 {
  font-size: 3.5rem;
  color: #FFFFFF;
  font-weight: bolder;
  text-align: center;
  margin-top: 2rem;
}

.banner-content p {
  font-size: 1rem;
  color: #ffffff93;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 1.5rem;
  /* border: 1px solid red; */
}

.buttons .spotify {
  max-width: 12rem;
  padding: 0.7rem 1.25rem;
  font-size: 1rem;
  font-weight: 500;
  background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
  border-radius: 2rem;
  color: #FFFFFF;
  cursor: pointer;
  transition: transform 1s ease;
}

.spotify:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 28px rgba(251, 9, 180, 0.45);
}

.buttons .subscribe {
  max-width: 9rem;
  padding: 0.7rem 1.25rem;
  background-color: transparent;
  color: #00FF88;
  border: 1px solid #00FF88;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 1s ease, transform 1s ease;
}

.subscribe:hover {
  background-color: #00FF88;
  box-shadow: 0px 10px 28px #00ff88b2;
  color: #001b12;
  transform: translateY(-3px);
}

/* banner section ends */


/* about section starts */

/* .about-content{
  border: 1px solid red;
} */

.about-content .about-title {
  max-width: 100%;
  font-size: 3rem;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  padding: 3rem 7rem 1rem;
}

.about-content .about-description {
  font-size: 1rem;
  color: #ffffff93;
  text-align: center;
  margin-bottom: 5rem;
  line-height: 2rem;
}

hr {
  max-width: 75%;
  color: #ffffff34;
  margin: 0 auto;
}

.about-info {
  display: flex;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  /* border: 1px solid red; */
  margin: 4rem auto 7rem;
}

/* .about-info-card{
   border: 1px solid red;
} */

.about-info-card h3 {
  font-size: 3rem;
  font-weight: bolder;
  color: #00FF88;
  text-align: center;
}

.about-info p {
  font-size: 1rem;
  color: #ffffff93;
}

/* about section ends */


/* why choose section starts */

#why-choose {
  background-color: #230E3D;
  padding: 60px 0px;
}



.why-choose-title {
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding-top: 3rem;
}

.why-choose-container>* {
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 2rem;
  padding: 2.5rem;
  line-height: 2rem;

}

/* .audio-quality, .mobile-friendly, .community, {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
} */

.why-choose-container h4 {
  gap: 3rem;
}


.audio-quality {
  grid-area: audio-quality;

}

.mobile-friendly {
  grid-area: mobile-friendly;
}

.community {
  grid-area: community;
}

.interviews {
  grid-area: interviews;
}

.resources {
  grid-area: resources;
}


.why-choose-container {
  max-width: 75rem;
  margin: 2.5rem auto;
  display: grid;
  gap: 1.8rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "audio-quality  mobile-friendly   mobile-friendly"
    "audio-quality   community       community"
    "interviews      interviews       resources";
}

.audio-quality,
.mobile-friendly,
.community,
.interviews,
.resources {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}


.why-choose-container h4 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #FFFFFF;
}

.why-choose-container p {
  font-size: 1rem;
  color: #ffffff93;
  line-height: 1.5rem;
}


/* why choose section ends */

/* featured section starts */

/* #featured{
  margin-bottom: 2rem;
  border: 1px solid red;
} */

.featured-cards {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 7rem;
  /* border: 1px solid red; */
  gap: 1.8rem;
}

.featured-title {
  font-size: 3rem;
  font-weight: bold;
  color: #FFFFFF;
  margin-top: 5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.card {
  max-width: 380px;
  background-color: #250D44;
  border-radius: 2rem;
  padding-bottom: 2rem;
}

/* .card:hover {
  transform: translate(-3px);
} */

.card iframe {
  max-width: 380px;
  max-height: 214px;
  border-radius: 2rem 2rem 0 0;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #FFFFFF;
  line-height: 1.5rem;
  margin: 1.5rem;
}

.card-description {
  max-width: 20.7rem;
  font-size: 1rem;
  color: #ffffff93;
  padding-left: 1.5rem;
  margin-bottom: 0.7rem;
}

.card div {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-left: 2rem;
  gap: 0.3rem;
}

.card div span {
  font-size: 1rem;
  font-weight: 600;
  color: #00FF88;
}


/* featured section ends */


/* host section starts */

#host h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #FFFFFF;
  margin-top: 5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.host-container {
  max-width: 75rem;
  background-color: rgba(53, 17, 101, 0.4);
  display: flex;
  margin: 0 auto 8rem;
  padding: 2.5rem;
  gap: 1.5rem;
  border-radius: 2rem;
  padding-right: 2.5rem;
}

.host-image img {
  max-width: 20rem;
}

.host-title {
  font-size: 2rem;
  font-weight: bold;
  color: #FFFFFF;
}

.host-description {
  max-width: 56rem;
  color: #ffffff93;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-icons a {
  border: 1px solid #533C72;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}


/* host section ends */


/* footer section starts */

footer {
  max-width: 100rem;
  background: url("../assets/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3rem 0 1.8rem;
}

.footer-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 60px 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.footer-logo {
  width: 20rem;
  /* margin-bottom: 2rem; */
}

.footer-social-links {
  display: flex;
  gap: 3.5rem;
}

.footer-social-links a {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: #ffffff93;
  font-size: 1rem;
}

/* .footer-social-links a img{
  width: 1.25rem;
} */

.copyright {
  color: #ffffff93;
}

/* footer section ends */


/* Animation section starts*/

@keyframes moveupdown {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-7px);
  }

  100% {
    transform: translateY(0px);
  }

}

@keyframes moveX {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(3px);
  }

  100% {
    transform: translateX(0);
  }
}

.banner-badge {
  animation: moveupdown 1s ease-in-out infinite;
}


button i {
  animation: moveX 2s ease-in-out infinite;
}

/* Animation section ends*/



/* Responsive for mobile device */

@media screen and (max-width:576px) {


  .display {
    display: none;
  }

  body{
    max-width: 100%;
  }

  /* navbar section starts */

  .navbar {
    /* max-width: 100%; */
    padding: 1rem 1.5rem;
    /* border: 1px solid red; */
    border-bottom: 2px solid #ffffff1b;
  }

  .navbar img{
    max-width: 8rem;
  }

  .nav-menu,
  .btn {
    display: none;
  }

  .hamburger {
    display: inline;
    /* border: 1px solid red; */
    color: #FFFFFF;
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
  }

  /* navbar section ends */

  /* banner section starts */


 .banner-container {
    max-width: 100%;
    /* width: 440px; */
    max-height: 600px;
    /* border: 1px solid red; */
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-size:contain; */
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 3rem; */
  }

  .banner-image {
    max-width: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
  }



  .banner-circle {
    max-width: 200px;
    position: relative;
    top: 10%;

  }

  

  .banner-image .microphone {
    max-width: 30%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .banner-badge {
    background-color: #00FF88;
    color: #1A0B2E;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-size: 0.6rem;
    font-weight: 600;
    position: absolute;
    top: 20%;
    /* top: 25%; */
    left: 59%;
    box-shadow: 0px 0px 10px #00FF88;
  }

  .banner-content h1 {
    font-size: 2.5rem;
    color: #FFFFFF;
    font-weight: bolder;
    text-align: center;
    margin-top: 1.5rem;
  }

  .banner-content p {
    font-size: 1rem;
    color: #ffffff93;
    padding: 0rem 1rem;
    text-align: center;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 1.5rem;
    /* border: 1px solid red; */
  }

  .buttons .spotify {
    max-width: 12rem;
    padding: 0.7rem 1.25rem;
    font-size: 1rem;
    font-weight: 500;
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    border-radius: 2rem;
    color: #FFFFFF;
    cursor: pointer;
    transition: transform 1s ease;
  }














  /* banner section ends */

  /* about section starts */


  .about-content .about-title {
    font-size: 2.5rem;
    padding: 2rem 1rem 1rem;
  }

  .about-description {
    padding: 0 0.5rem;
  }

  .about-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 3rem 1rem;
  }

  .about-info .about-info-card {
    text-align: center;
  }

  .about-info-card h3 {
    font-size: 2rem;
  }

  /* about section ends */

  /* why choose section starts */

  #why-choose {
    padding: 10px 16px;
  }

  .why-choose-title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .why-choose-container {
    display: flex;
    flex-direction: column;
  }

  /* why choose section ends */


  /* featured section starts */

  #featured {
    padding: 0px 30px;
    /* border: 1px solid red; */
  }

  .featured-title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .featured-cards {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .featured-cards iframe{
    width: auto;
  }

  /* featured section ends */


  /* Host section starts  */

  #host {
    /* border: 1px solid red; */
    padding: 40px 16px;
    text-align: center;
  }

  .host-container {
    /* width: 25rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #host h2 {
    margin: 0rem 0rem 3rem;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 14px;
  }

  /* Host section ends  */

  /* footer section starts */

  /* footer {
    max-width: 500px;
    background: url("../assets/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 16px 24px;
  } */

  .footer-container {
    /* max-width: 100%; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */

    /* width: 100%; */
    background: url("../assets/footer-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 90%;
    background-position: center;
    padding: 3rem 0 1.8rem;
  }

  .footer-container img {
    max-width: 500px;
  }

  .footer-container ul {
    /* max-width: 255px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* border: 1px solid red; */
    align-items: center;
    gap: 10px;
  }

  .footer-container p {
    /* width: 400px; */
    text-align: center;
    /* border: 1px solid red; */
  }

  /* footer section ends */


}