.font-inter{
  font-family: "Inter", sans-serif;
}

/* @import "tailwindcss"; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles starts */

.primary-color{
    color: linear-gradient(to right,#F7E93F, #FB09B4, #9100F8);
}

.background-color{
  background-color: #1A0B2E;
}

/* shared styles ends */



/* navbar  section starts */

.navbar{
  max-width: 100%;
  background-color: #1A0B2E;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 12rem;
  border-bottom: 2px solid #ffffff1b;
}

/* .logo{
  font-size: 2rem;
  font-weight: bold;
} */

.nav-menu{
  display: flex;
  gap: 2rem;
}


.btn{
  background: linear-gradient(to right,#F7E93F, #FB09B4, #9100F8);
  border:none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}

.hamburger{
  display: none;
}

/* navbar section ends */


/* banner section starts */

#banner-container{
  max-width: 100%;
  height: 760px;
  background-image: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size:cover;
  /* border: 1px solid red; */
  background-position: center;  
}

.banner-image img{
  max-width: 100%;
  position: relative; 
  margin: 0 auto;
  top: 7rem;
  /* border: 1px solid red; */
}

.banner-image .microphone{
  max-width: 100%;
  position: absolute;
  top: 35%;
  left: 46%;
  transform: translate(5px,10px);
}





/* banner section ends */



























/* Responsive for mobile device */

@media screen and (max-width:576px){
  .navbar{
    max-width: 100%;
    border: 1px solid red;
    justify-content: space-between;
  }

  .nav-menu, .btn{
    display: none;
  }

  .hamburger{
    color: #FFFFFF;
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
  }
}