.font-inter{
  font-family: "Inter", sans-serif;
}

@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles starts */

/* .primary-color{
    color: linear-gradient(to right,#F7E93F, #FB09B4, #9100F8);
} */

.background-color{
  background-color: #1A0B2E;
}

/* shared styles ends */



/* navbar  section starts */

.navbar{
  max-width: 100%;
  background-color: #1A0B2E;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 12rem;
  border-bottom: 2px solid #ffffff1b;
}

/* .logo{
  font-size: 2rem;
  font-weight: bold;
} */

.nav-menu{
  display: flex;
  gap: 2rem;
}


.btn{
  background: linear-gradient(to right,#F7E93F, #FB09B4, #9100F8);
  border:none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}

.hamburger{
  display: none;
}

/* navbar section ends */


/* banner section starts */

.banner-container{
  max-width: 100%;
  height: 760px;
  background-image: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size:cover;
  /* border: 1px solid red; */
  background-position: center;  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-image{
  max-width: 100%;
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  /* border: 1px solid red; */
}

.banner-image .microphone{
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.banner-badge{
  background-color: #00FF88;
  color: #1A0B2E;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  position: absolute;
  top: 26%;
  left: 55%;
  box-shadow: 0px 0px 10px #00FF88;
}

.banner-content h1{
  font-size: 3.5rem;
  color: #FFFFFF;
  font-weight: bolder;
  text-align: center;
  margin-top: 2rem;
}

.banner-content p{
  font-size: 1rem;
  color: #ffffff93;
}

.buttons{
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 1.5rem;
  /* border: 1px solid red; */
}

.buttons .spotify{
  max-width: 12rem;
  padding: 0.7rem 1.25rem;
  font-size: 1rem;
  font-weight: 500;
  background: linear-gradient(to right,#F7E93F, #FB09B4, #9100F8);
  border-radius: 2rem;
  color: #FFFFFF;
}

.buttons .subscribe{
  max-width: 9rem;
  padding: 0.7rem 1.25rem;
  background-color: transparent;
  color: #00FF88;
  border: 1px solid #00FF88;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 600;
}




/* banner section ends */



























/* Responsive for mobile device */

@media screen and (max-width:576px){
  .navbar{
    max-width: 100%;
    border: 1px solid red;
    justify-content: space-between;
  }

  .nav-menu, .btn{
    display: none;
  }

  .hamburger{
    color: #FFFFFF;
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
  }
}