.font-inter{
  font-family: "Inter", sans-serif;
}

@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles starts */

/* .primary-color{
    color: linear-gradient(to right,#F7E93F, #FB09B4, #9100F8);
} */

.background-color{
  background-color: #1A0B2E;
}

/* shared styles ends */



/* navbar  section starts */

.navbar{
  max-width: 100%;
  background-color: #1A0B2E;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 12rem;
  border-bottom: 2px solid #ffffff1b;
}

/* .logo{
  font-size: 2rem;
  font-weight: bold;
} */

.nav-menu{
  display: flex;
  gap: 2rem;
}


.btn{
  background: linear-gradient(to right,#F7E93F, #FB09B4, #9100F8);
  border:none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}

.hamburger{
  display: none;
}

/* navbar section ends */


/* banner section starts */

.banner-container{
  max-width: 100%;
  height: 760px;
  background-image: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size:cover;
  /* border: 1px solid red; */
  background-position: center;  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-image{
  max-width: 100%;
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  /* border: 1px solid red; */
}

.banner-image .microphone{
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.banner-badge{
  background-color: #00FF88;
  color: #1A0B2E;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  position: absolute;
  top: 26%;
  left: 55%;
  box-shadow: 0px 0px 10px #00FF88;
}

.banner-content h1{
  font-size: 3.5rem;
  color: #FFFFFF;
  font-weight: bolder;
  text-align: center;
  margin-top: 2rem;
}

.banner-content p{
  font-size: 1rem;
  color: #ffffff93;
}

.buttons{
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 1.5rem;
  /* border: 1px solid red; */
}

.buttons .spotify{
  max-width: 12rem;
  padding: 0.7rem 1.25rem;
  font-size: 1rem;
  font-weight: 500;
  background: linear-gradient(to right,#F7E93F, #FB09B4, #9100F8);
  border-radius: 2rem;
  color: #FFFFFF;
}

.buttons .subscribe{
  max-width: 9rem;
  padding: 0.7rem 1.25rem;
  background-color: transparent;
  color: #00FF88;
  border: 1px solid #00FF88;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 600;
}

/* banner section ends */


/* about section starts */

/* .about-content{
  border: 1px solid red;
} */

.about-content .about-title{
  /* max-width: 90%; */
  font-size: 3rem;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  padding: 3rem 7rem 1rem;
}

.about-content .about-description{
  font-size: 1rem;
  color: #ffffff93;
  text-align: center;
  margin-bottom: 5rem;
  line-height: 2rem;
}

hr{
  max-width: 75%;
  color: #ffffff34;
  margin: 0 auto;
}

.about-info{
  display: flex;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  /* border: 1px solid red; */
  margin: 4rem auto 7rem;
}

/* .about-info-card{
   border: 1px solid red;
} */

.about-info-card h3{
  font-size: 3rem;
  font-weight: bolder;
  color: #00FF88;
  text-align: center;
}

.about-info p{
  font-size: 1rem;
  color: #ffffff93;
}

/* about section ends */


/* why choose section starts */

#why-choose{
  background-color: #230E3D;
}

.why-choose-title{
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding-top: 9rem;
}

.why-choose-container>*{
  background-color: #351165;
  border-radius: 2rem;
  padding: 2.5rem;
  line-height: 2rem;
  
}

.why-choose-container h4{
  gap: 3rem;
}


.audio-quality{
  grid-area: audio-quality;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}

.mobile-friendly{
  grid-area: mobile-friendly;
}

.community{
  grid-area: community;
}

.interviews{
  grid-area: interviews;
}

.resources{
  grid-area: resources;
}


.why-choose-container{
  max-width: 75rem;
  margin: 2.5rem auto;
  display: grid;
  gap: 1.8rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "audio-quality  mobile-friendly   mobile-friendly"
    "audio-quality   community       community"
    "interviews      interviews       resources";
}


.why-choose-container h4{
  font-size: 1.5rem;
  font-weight: bold;
  color: #FFFFFF;
}

.why-choose-container p{
  font-size: 1rem;
  color: #ffffff93;
  line-height: 1.5rem;
}


/* why choose section ends */

























/* Responsive for mobile device */

@media screen and (max-width:576px){
  .navbar{
    max-width: 100%;
    border: 1px solid red;
    justify-content: space-between;
  }

  .nav-menu, .btn{
    display: none;
  }

  .hamburger{
    color: #FFFFFF;
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
  }
}